@import "./colors.css";
@import "./main-layout.css";
@import "./header.css";
@import "./note-card.css";

* {
  margin: 0;
  padding: 0;
}

body {
  --color-text-primary: var(--color-green);
  --color-text-inverse: var(--color-white);
  --color-text-hover: var(--color-green-light-1);
  --color-bg-primary: var(--color-white);
  --color-bg-inverse: var(--color-green);
  --color-nav-hover: var(--color-green-light-1);
  --color-border: var(--color-green-dark-1);
  --color-bg-input: var(--color-green-light-4);
  --color-bg-input-focus: var(--color-green-light-3);
  --color-placholder-input: var(--color-green-light-2);

  font-family: "Lato", sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

body.orangeTheme {
  --color-text-primary: var(--color-orange);
  --color-text-inverse: var(--color-white);
  --color-text-hover: var(--color-orange-light-1);
  --color-bg-primary: var(--color-white);
  --color-bg-inverse: var(--color-orange);
  --color-nav-hover: var(--color-orange-light-1);
  --color-border: var(--color-orange-dark-1);
  --color-bg-input: var(--color-orange-light-4);
  --color-bg-input-focus: var(--color-orange-light-3);
  --color-placholder-input: var(--color-orange-light-2);
}

input,
textarea {
  border: 0;
  background-color: var(--color-bg-input);
  font-family: "Lato", sans-serif;
  color: var(--color-text-primary);
}

textarea {
  resize: none;
  box-sizing: border-box;
}

textarea:focus,
input:focus {
  outline: none;
  background-color: var(--color-bg-input-focus);
}

textarea::placeholder,
input::placeholder {
  color: var(--color-placholder-input);
}

button {
  background: none;
  border: none;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: var(--color-text-primary);
  cursor: pointer;
}

button:hover {
  color: var(--color-text-hover);
}

a {
  color: var(--color-text-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-text-hover);
}

button > *,
a > * {
  pointer-events: none;
}
