:root {
  --color-green: #225560;
  --color-green-dark-1: #10282d;
  --color-green-light-1: #3a92a6;
  --color-green-light-2: #4aaabf;
  --color-green-light-3: #c3e3ea;
  --color-green-light-4: #e1f1f4;

  --color-orange: #ee6c1b;
  --color-orange-dark-1: #ab490d;
  --color-orange-light-1: #f49d67;
  --color-orange-light-2: #f6b68d;
  --color-orange-light-3: #fce7d9;
  --color-orange-light-4: #fef3ec;

  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  --color-text-primary: var(--color-green);
  --color-text-inverse: var(--color-white);
  --color-text-hover: var(--color-green-light-1);
  --color-bg-primary: var(--color-white);
  --color-bg-inverse: var(--color-green);
  --color-nav-hover: var(--color-green-light-1);
  --color-border: var(--color-green-dark-1);
  --color-bg-input: var(--color-green-light-4);
  --color-bg-input-focus: var(--color-green-light-3);
  --color-placholder-input: var(--color-green-light-2);

  font-family: "Lato", sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

body.orangeTheme {
  --color-text-primary: var(--color-orange);
  --color-text-inverse: var(--color-white);
  --color-text-hover: var(--color-orange-light-1);
  --color-bg-primary: var(--color-white);
  --color-bg-inverse: var(--color-orange);
  --color-nav-hover: var(--color-orange-light-1);
  --color-border: var(--color-orange-dark-1);
  --color-bg-input: var(--color-orange-light-4);
  --color-bg-input-focus: var(--color-orange-light-3);
  --color-placholder-input: var(--color-orange-light-2);
}

input,
textarea {
  border: 0;
  background-color: var(--color-bg-input);
  font-family: "Lato", sans-serif;
  color: var(--color-text-primary);
}

textarea {
  resize: none;
  box-sizing: border-box;
}

textarea:focus,
input:focus {
  outline: none;
  background-color: var(--color-bg-input-focus);
}

textarea::placeholder,
input::placeholder {
  color: var(--color-placholder-input);
}

button {
  background: none;
  border: none;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: var(--color-text-primary);
  cursor: pointer;
}

button:hover {
  color: var(--color-text-hover);
}

a {
  color: var(--color-text-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-text-hover);
}

button > *,
a > * {
  pointer-events: none;
}

/* Main Layout */
.wrapper {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.header {
  margin-bottom: 1rem;
}

.header,
.footer {
  flex: 0 0 auto;
}

.content {
  flex: 1 0 auto;
}

/* Header */
.title {
  padding: 1rem;
  text-align: center;
}

.navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--color-bg-inverse);
}

.nav-link {
  color: var(--color-text-inverse);

  padding: 1rem 1.5rem;
  display: block;
  transition: all 0.7s ease;
}

@media screen and (min-width: 600px) {
  .navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
  }

  .nav-item {
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 0;
  }
}

.nav-link:hover,
.nav-link.active {
  color: var(--color-white);
  background-color: var(--color-nav-hover);
}

.nav-item:first-of-type {
  margin-left: 0;
}

/* Content */

/* Card Layout */
.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  list-style: none;
}

/* Card */
.card {
  width: 280px;
  height: 280px;
  margin: 12px;
  border: 2px solid var(--color-border);
  border-radius: 5px;
  padding: 8px;

  display: flex;
  flex-direction: column;
}

/* Card Header */
.card-header {
  flex: 0 0 auto;

  display: flex;
  align-items: center;

  font-size: 1rem;

  min-height: 30px;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 5px;
}

.card-title {
  flex: 1 1 auto;
  padding: 3px;
}

.action {
  padding-left: 5px;
  flex: 0 0 auto;
}

/* Card Content */
.card-content {
  flex: 1 1 auto;
  padding: 3px;

  overflow-x: hidden;
  overflow-y: auto;
}

textarea.card-content {
  width: 100%;
  height: 100%;
}

/* Card Footer */
.card-footer {
  flex: 0 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 30px;
  border-top: 1px solid var(--color-border);
  margin-top: 5px;
}
